<div class="h-svh w-full flex items-stretch overflow-hidden">
	<div class="basis-1/2 bg-primary lg:flex hidden overflow-x-hidden overflow-y-auto p-16 items-end relative">
		<div class="absolute inset-0 overflow-hidden">
			<video
				autoplay
				loop
				muted
				playsinline
				class="object-cover w-full h-full"
				alt="onboarding_video"
			>
				<source src="/themes/custom/cap_alfavarese/video/onboarding_video.mp4" type="video/mp4">
			</video>
		</div>
		<div class="flex flex-col gap-4 max-w-96 mt-auto relative z-10">
			<h1 class="text-white font-semibold text-3xl">
				Gestione dell'acqua semplice e smart per la tua casa o azienda.
			</h1>
			<p class="text-white">
				Accedi o registrati per tenere sotto controllo le tue utenze e monitorare i tuoi consumi.
			</p>
		</div>
	</div>
	<div class="grow flex justify-center overflow-x-hidden overflow-y-auto items-center p-6">
		<div class="w-full max-w-md my-auto text-center flex flex-col gap-14">
			<h1>
				{{ 'Password impostata' | t }}
			</h1>
			<div class="flex flex-col gap-6">
				<p>
					{{ 'Ora puoi accedere al tuo account per gestire le tue forniture in modo semplice e veloce.' | t }}
				</p>
				<div class="flex justify-end pt-20">
					<a
						href="/home"
						class="btn-primary-filled"
					>
						{{ 'Vai alla Home' | t }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
